name: MLflow CI Training

on:
  workflow_dispatch:
  push:
    paths:
      - "MLProject/**"

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install MLflow
      run: |
        pip install mlflow

    - name: Run MLflow Project
      run: |
        mlflow run MLProject --env-manager=local

    - name: Install dependencies
      run: |
       pip install pandas numpy scikit-learn mlflow

